{% extends "base.html" %}

{% block container %}

        <div class="landing-container">
            <header>
                <h1 class="landing-header">{{ SITENAME }}</h1>
                <p>{% if SITESUBTITLE %} {{ SITESUBTITLE }} {% endif %}</p>
            </header>
            <ul class="nav">
                    {% for page in PAGES %}
                        <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
                    {% endfor %}
                {% include 'email.html' %}
            </ul>
            <footer>
                <p class="disclaimer">
                {% if SITEFOOTER %}
                    {{ SITEFOOTER }}
                {% else %}
                Built with <a href="http://getpelican.com">Pelican</a>, and <a href="https://github.com/hdra/Pelican-Cid">Cid</a> theme.
                {% endif %}
                </p>
            </footer>
        </div>

{% endblock container %}
