<style rel="text/css">
 .site-logo{   max-width: 110px;
    float: left;
}
.container .blog-header h1 , .container .blog-header p {
}
.container .blog-header h1 {

    display: inline-block;
}
.site-logo img {
    width: 100%;
    max-width: 110px;
    height: auto;
margin-right:25px;
}

</style>
<header class="blog-header">
  <div class="header-container" style="height: auto">
    <div class="site-logo" >
      {% if SITELOGO %}
       <img  src="{{ SITEURL }}/{{ SITELOGO }}" height="200px">
      {% endif %}
    </div>
    <div>
      <h1>
       <a href="{{ SITEURL }}">{{ SITENAME }}</a>
      </h1>
      <p>{% if SITESUBTITLE %} {{ SITESUBTITLE }} {% endif %}</p>
    </div>
  </div>
    <nav>
        <a href="{{ SITEURL }}/{{ INDEX_URL }}">INDEX</a>
        <a href="{{ SITEURL }}/archives">ARCHIVES</a>
        <a href="{{ SITEURL }}/categories">CATEGORIES</a>
        <a href="{{ SITEURL }}/tags">TAGS</a>
    </nav>
</header>
