<style rel="text/css">
 body p {
    text-align: justify
 }

 .site-logo{
    float: left;
  }
.container .blog-header h1 , .container .blog-header p {
}
.container .blog-header h1 {

    display: inline-block;
}
.site-logo img {
    width: 100%;
    max-width: 110px;
    height: auto;
margin-right:25px;
}

 .blog-header nav a {
    text-decoration:none;
     color: blue;
 }

 .blog-footer .nav a {
     text-decoration: none;
     color: blue;
 }

 .blog-footer .nav .dots {
     font-weight: bold;
 }
</style>
<header class="blog-header">
  <div class="header-container" style="height: auto">
    <div class="site-logo" >
      {% if SITELOGO %}
       <img  src="{{ SITEURL }}/{{ SITELOGO }}">
      {% endif %}
    </div>
    <div>
      <h1>
       <a href="{{ SITEURL }}">{{ SITENAME }}</a>
      </h1>
      <p>{% if SITESUBTITLE %} {{ SITESUBTITLE }} {% endif %}</p>
    </div>
  </div>
        {% if not page %}
        <nav>
           <a href="{{ SITEURL }}/{{ INDEX_URL }}">INDEX</a>
           <span class="header-dots">.</span>
           <a href="{{ SITEURL }}/archives">ARCHIVES</a>
           <span class="header-dots">.</span>
           <a href="{{ SITEURL }}/categories">CATEGORIES</a>
           <span class="header-dots">.</span>
           <a href="{{ SITEURL }}/tags">TAGS</a>
       </nav>
       {% endif %}
</header>
